/* IMPOSTAZIONI GENERALI */
a:link {
    text-decoration: none;
  }
   a:visited {
    color: black;
  }
  ul {
    list-style: none;
  }
html,body {
    height: 100%;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 2.1rem;
     margin-bottom: 1em;
  }
  h3 {
    font-size: 1.8em;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  #container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.8em;
    font-family: 'Fira Sans', sans-serif;
}
button {
  display: flex;
    background: rgb(108,193,226);
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
    color: white;
    font-size: 1rem;
    border: none;
    padding: 1rem;
    height: 40px;
    text-align: center;
    align-items: center;
}
ion-icon {
  font-size: 2em;
  color: rgb(238 42 36);
}
.emoji {
  font-size: 1em;
}
/* header */
#container-drop {
  position: absolute;
  display: none;
  top: -23px;
  right: -56px;
}
#drop-content {
  z-index: 1;
  display: none;
}
#drop-button {
  font-size: 4em;
}
 #nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(211 211 211);
    align-items: center;
    margin-bottom: 2em;
}
#bottoni-navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1em;
    position: relative;
}
ul {display: inline-flex;
  align-items: center;
  column-gap: 2em;}
 
header {
    background-image: url(../images/banner.jpg);
    color: white;
    display: flex;
    height: 380px;
    background-position: center;
    background-size: auto;
    flex-direction: column;
    margin-bottom: 2em;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 1em;
}
/* main */
main {
    width: 83%;
    margin: 0 auto;
}
#section-testo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
#section-immagini {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
  column-gap: 3em;
  justify-content: center;
}

#immagine-sinistra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #immagine-sinistra img {
  width: 509px;
  height: 320px;
  margin-bottom: 1em;
}
#immagine-destra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#immagine-destra  img {
  width: 486px;
  height: 320px;
  margin-bottom: 1em;
}
#tabella {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 2em;
  line-height: 4em;
}
caption {
  font-size: large;
  font-weight: bold;
}
tr:nth-child(odd) {
  background-color: rgb(210,220,221);
}
th {
    background-color: rgb(76, 120, 168);
    color: white;
}

/* FOOTER */
footer {
    background-color: rgb(238 238 238);
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-evenly;
    align-items: center;
  }
  #section-footer {
    display: flex;
    column-gap: 5em;
    align-items: flex-start;
    text-align: center;
    margin-inline: 7em;
  }
  #section-footer section {
    display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
      align-items: center;
  }
  #copiright {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  }
  #vabene-button {
    width: 335px;
    height: 35px;
  }
  footer input {
    width: 328px;
    height: 35px;
  }
  /* RESPONSIVE */
  @media screen and (min-width:720px) and (max-width:1024px){
    html,
    body,
    #container {
      width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 12px;
    }
    #nav-bar {
      justify-content: space-between;
    }
    #nav-bar div {
      padding-inline: 1em;
    }
    #section-immagini {
      margin-bottom: 8em;
    }
    #section-immagini img {
      width: 290px;
    height: auto;
    }
    table {
      width: 100%;
    }
    footer {
      padding-inline: 7em;
    }
    #section-footer input {
      width: 170px;
      height: 35px;
      text-align: inherit;
  }
    #section-footer button {
      width: 178px;
      height: 35px;
  }
  }
  @media screen  and (max-width:720px){
    html,
    body,
    #container {
      width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 10px;
    }
    ul {
      display: none;
    }
    #container-drop{
      display: block;
    }
       #drop-content {
  display: flex;
  flex-direction: column;
       }
    #nav-bar {
      margin-bottom: 4em;
    }
    #section-immagini {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #section-immagini div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 209px;
      text-align: center;
    }
    #section-immagini img {
      width: 415px;
      height: auto;
    }
    th {
      background-color: rgb(210,220,221);
      color: black;
    }
    tr:nth-child(odd){
      background-color: rgb(210,220,221);
    }
    button {
      font-size: 2em;
  }
  footer {
    justify-content: space-around;
  }
  footer h4 {
    line-height: 0.5em;
  }
  #section-footer {
    text-align: inherit;
    flex-direction: column;
    row-gap: 2em;
  }
  #section-footer section {
    display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  }
  