
/* IMPOSTAZIONI GENERALI */
a:link {
  text-decoration: none;
}
 a:visited {
  color: black;
}
html,body {
  height: 100%;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}
h2 {
  font-size: 2.1rem;
  margin-bottom: 1em;
  text-align: center;
  margin-top: 2em;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#container {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.8em;
  font-family: 'Fira Sans', sans-serif;
}
button {
display: flex;
  background: rgb(108,193,226);
  background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
  color: white;
  font-size: 1rem;
  border: none;
  padding: 1rem;
  height: 40px;
  text-align: center;
  align-items: center;
}
ion-icon {
  font-size: 2em;
  color: rgb(238 42 36);
}
.emoji {
  font-size: 1em;
}
/* header */
#nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(211 211 211);
  align-items: center;
}
#bottoni-navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 1em;
}
/* MAIN  */
#main-container {
display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 2em;
}
#main-container section:last-of-type{
  line-height: 1.5em;
}
#main-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1em;
}
input {
  width: 450px;
  height: 2em;
}
textarea {
  width: 450px;
  height: 4em;
}
/* FOOTER */
footer {
  background-color: rgb(238 238 238);
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-evenly;
  align-items: center;
}
#section-footer {
  display: flex;
    column-gap: 5em;
    align-items: flex-start;
    text-align: center;
}
#section-footer section {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}
#copiright {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
#vabene-button {
  width: 343px;
  height: 35px;
}
footer input {
 width: 335px;
  height: 35px;
}

/* RESPONSIVE */
@media screen and (min-width:720px) and (max-width:1024px){
  html,
  body,
  #container {
    width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 12px;
  }
  #nav-bar {
    justify-content: space-between;
  }
  #nav-bar div {
    padding-inline: 1em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  input, textarea {
    width: 350px;
  }
  footer {
    padding-inline: 7em;
  }
  #section-footer input {
    width: 170px;
    height: 35px;
    text-align: inherit;
}
  #section-footer button {
    width: 178px;
    height: 35px;
} 
}
@media screen  and (max-width:720px){
html,
body,
#container {
  width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
font-size: 10px;
}
#nav-bar {
  margin-bottom: 4em;
}
#main-container {
  flex-direction: column;
  align-items: center;
}
section:first-of-type {
  margin-bottom: 3em;
}

button {
  font-size: 2em;
}
footer {
justify-content: space-around;
}
footer h4 {
line-height: 0.5em;
}
#section-footer {
text-align: inherit;
flex-direction: column;
row-gap: 2em;
}
#section-footer section {
display: flex;
  flex-direction: column;
  align-items: flex-start;
}
}

