/* IMPOSTAZIONI GENERALI */
a:link {
    text-decoration: none;
  }
   a:visited {
    color: black;
  }
html,body {
    height: 100%;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 2.1rem;
     margin-bottom: 1em;
  }
  h3 {
    font-size: 1.8em;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  #container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 1.8em;
    font-family: 'Fira Sans', sans-serif;
}
button {
  display: flex;
    background: rgb(108,193,226);
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(57,47,122,1) 100%);
    color: white;
    font-size: 1rem;
    border: none;
    padding: 1rem;
    height: 40px;
    text-align: center;
    align-items: center;
}
ion-icon {
  font-size: 2em;
  color: rgb(238 42 36);
}
.emoji {
  font-size: 1em;
}

  

/* HEADER */

 #nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(211 211 211);
    align-items: center;
}
#bottoni-navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1em;
}
 
header {
    background-image: url(../images/banner.jpg);
    color: white;
    display: flex;
    height: 380px;
    background-position: center;
    background-size: auto;
    flex-direction: column;
    margin-bottom: 2em;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 1em;
}



/* MAIN */
#prima-section {
    width: 85%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#contenitore-h2 {
  display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

#contenitore-articoli {
  display: flex;
    column-gap: 1em;
    align-items: flex-start;
    text-align: center;
}
#section-blu {
    background-color: rgb(12,6,51);
    color: white;
    display: flex;
    justify-content: center;
    height: 380px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
}
#seconda-section {
  flex-direction: row;
  justify-content: space-evenly;
  height: 600px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}



/* FOOTER */
footer {
  background-color: rgb(238 238 238);
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-evenly;
  align-items: center;
}
#section-footer {
  display: flex;
    column-gap: 5em;
    align-items: flex-start;
    text-align: center;
}
#section-footer section {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}
#copiright {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
#vabene-button {
  width: 343px;
  height: 35px;
}
footer input {
 width: 335px;
  height: 35px;
}

/* RESPONSIVE */
@media screen and (min-width:720px) and (max-width:1024px){
  html,
  body,
  #container {
    width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 12px;
  }
  #nav-bar {
    justify-content: space-between;
  }
  #nav-bar div {
    padding-inline: 1em;
  }
  header {
    background-size: cover;
  }
  h1 {
    font-size: 3em;
  }
  #prima-section {
justify-content: center;
height: 330px;
margin-bottom: 1em;
width: 73%;
  }
  #section-blu {
    height: 250px;
  }
  #seconda-section {
    column-gap: 2em;
    height: 330px;
  }
  #seconda-section img {
    width: 250px;
    height: auto;
  }
  footer {
    padding-inline: 7em;
  }
  #section-footer input {
    width: 170px;
    height: 35px;
    text-align: inherit;
}
  #section-footer button {
    width: 178px;
    height: 35px;
}

}
@media screen and (min-width:500px) and (max-width:720px){
  html,
  body,
  #container {
    width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 10px;
  }
header {
  background-size: cover;
  align-items: flex-start;
  padding-inline: 2em;
height: 400px;
margin-bottom: 2em;
}
header h1 {
  font-size: 7rem;
  margin-bottom: 0.5em;
  line-height: 1em;
}

header p {
  font-size: 22px;
  font-weight: normal;
}
#prima-section {
  justify-content: flex-start;
  height: 415px;
}
#contenitore-h2 {
  margin-bottom: 1em;
}
#contenitore-articoli {
  flex-direction: column;
    line-height: 2em;
}
#section-blu {
  height: 250px;
}
#seconda-section {
  flex-direction: column;
  height: 480px;
}
#seconda-section img {
  width: 260px;
}
#articoli {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1em;
    row-gap: 2em;
}
footer {
  justify-content: space-around;
}
footer h4 {
  line-height: 0.5em;
}
#section-footer {
  text-align: inherit;
  flex-direction: column;
  row-gap: 2em;
}
#section-footer section {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}
button {
  font-size: 2em;
}
}



/* layout completato, iniziare media query */
